html {
    font-size: 1px;
}

body {
    font-size: 14px;
}

h1 {
    width: 100%;
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.styles {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.main-name {
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.main-contacts div {
    width: 30%;
}

.wrapper .main-contacts {

    flex-wrap: wrap;
    justify-content: space-between;

}

.wrapper .main-contacts a {

    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}

.office a:hover {
    color: #fd8300;
}

.office a {
    transition: 0.5s;
}

.consult a:hover {
    color: #fd8300;
}

.consult a {
    transition: 0.5s;
}

/* google maps */
.google-maps {
    width: 500px;
    overflow: hidden;
    margin-top: 34px;


}

.google-maps iframe {

    margin-top: -70px;
    width: 100%;
    min-height: 400px;
    border: none;
}

/* form */
.form-name-main {
    max-width: 467px;
    
}

form input {

    padding: 10px;
}

.tel-name {
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
    flex-direction: column;
    gap: 9px;
}

.tel-name label {
    width: 100%;
}

.tel-name input {
    display: block;
    width: 100%;
}

.theme-text {
    margin-bottom: 9px;
}

form .theme-text input {
    width: 100%;
}

textarea {
    width: 100%;
    resize: vertical;
    min-width: 200px;
    max-height: 250px;
    margin-bottom: 9px;
}
.every {
    display: flex;
    justify-content: space-between;
    gap: 27px;
}
.submit-form button {
    
    border-radius: 21px;
    background-color: #fd8300;
    border: none;
    padding: 15px 20px;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}
.submit-checkbox {
    display: flex;
    gap: 25px;
    align-items: center;
}

@media (min-width: 320px) {
    .header-menu .flex, .company .flex, .footer .flex {
        flex-direction: column;
        align-items: center;
    }
    .header-menu .wrapper {
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
         flex-direction: row;
    }
    .header-menu  .social {
        text-align: right;
        flex-direction: row;
    }

    .header-menu .wrapper {
        position: relative;
        padding: 0px 10px;
        display: flex;
        justify-content: center;
    }

    .burger-menu {
        position: absolute;
        top: 8px;
        left: 20px;
        width: 25px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .burger-menu span {
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: 0.3s;
    }

    .burger-menu.active-burger span:first-child {
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
    }
    .burger-menu.active-burger span:nth-child(2) {
        opacity: 0;
    }
    .burger-menu.active-burger span:last-child {
        position: absolute;
        top: 50%;
        transform: rotate(-45deg);
    }
    .main-contacts div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contacts a, .email a {
        display: block;
        margin: 5px 0;
    }

    .header-menu ul, .footer-info1 ul, .footer-info2 ul {
        text-align: center;
    }

    .header-menu ul li, .footer-info1 ul li, .footer-info2 ul li {
        margin: 5px 0;
    }

    .popular-project .project {
        flex-direction: column;
    }

    .popular-project .project figure {
        margin-bottom: 20px;
    }

    aside {
        width: 100%;
        text-align: center;
    }
    main .wrapper{
        text-align: right;
        display: flex;
        flex-direction: column;
    }
    .category-project nav ul {
        padding-left: 0;
        text-align: center;
    }

    .banner {
        height: 200px;
    }

    .banner .text p {
        font-size: 14px;
    }

    .maininfo p {
        font-size: 14px;
    }

    .popular-project .project figure h2 {
        font-size: 16px;
    }

    main .wrapper .main-contacts {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (min-width: 768px) {
    .header-menu .flex, .company .flex, .footer .flex {
        
        flex-direction: column;
        align-items: center;
    }
    .wrapper {
        width: 100%;
    
      }
      .popular-project .project {
        flex-direction: row;
    }
      .wrapper {
        text-align: center;
        display: flex;
        flex-direction: row;
      }
      .tel-name {
    
        display: flex;
        justify-content: space-between;
        margin-bottom: 9px;
        flex-direction: row;
        gap: 0px;
    }
    
    .tel-name label {
        width: 49%;
    }
      .wrapper.every {
        justify-content: center;
      }
    }
    @media screen and (min-width: 1024px) {
        .main-contacts div {
            width: 25%;
        }
        .header-menu .flex, .company .flex, .footer .flex {
        
            flex-direction: row;
            
        }
        .main-contacts {
            display: flex;
            
        }
        .header-menu .flex ul  {
            gap: 10px;
        }
        main .wrapper{
            display: flex;
            flex-direction: row;
        }
        main .wrapper .main-contacts {
            display: flex;
            flex-direction: row;
            text-align: left;
        }
    }
