html {
    font-size: 1px;
}


.flex {
    display: flex;
}

body {
    font-size: 14rem;
}

.wrapper {

    margin: auto;
    max-width: 960px;

}

table {
    border-collapse: collapse;
    width: 100%;

}
.table {
    border-radius: 3px;
}
.timers {
    width: 45%;
}
.time { 
    font-size: 14rem;
    line-height: 24rem;
    color: #666666;
    font-family: "Arial";
    margin-bottom: 20px;
}

.wrapper.main-wrapper {
    width: 90%;
    /* width: calc(100% - 20px); */
}

.house {
    cursor: pointer;
}

table thead tr {


    border: none;
    border-radius: 3px;
    background-color: #1f1f56;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

table thead tr td {
    padding: 13px;
}

table tbody tr {
    box-shadow: inset 0px -1px 0px #cecedd;
    background-color: #e4e4ec;
}

table tbody tr td {
    padding: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}

table tbody tr:hover {
    background-color: #fd8300;

}

table tbody tr:hover td {
    color: #fff;
}

.rules {
    display: inline-block;
    font-size: 14rem;
    line-height: 24rem;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    margin-bottom: 33px;
}

.rules:hover {
    text-decoration: none;
}

@media (min-width: 320px) {
    .header-menu .wrapper {
        position: relative;
        padding: 0px 10px;
        display: flex;
        justify-content: center;

    }

    header .company {
        display: flex;
        flex-wrap: wrap;
    }

    .burger-menu {
        position: absolute;
        top: 8px;
        left: 20px;
        width: 25px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .burger-menu span {
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: 0.3s;
    }

    .burger-menu.active-burger span:first-child {
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
    }

    .burger-menu.active-burger span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active-burger span:last-child {
        position: absolute;
        top: 50%;
        transform: rotate(-45deg);
    }

    .table {

        overflow: auto;
    }

    table {
        min-width: 600px;
    }

    .wrapper {
        text-align: center;
    }

    .header-menu .wrapper {
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    .header-menu .flex,
    .company .flex,
    .footer .flex {
        flex-direction: column;
        align-items: center;
    }

    .header-menu .social {
        text-align: right;
        flex-direction: row;
    }

    .contacts a,
    .email a {
        display: block;
        margin: 5px 0;
    }

    .header-menu ul,
    .footer-info1 ul,
    .footer-info2 ul {
        text-align: center;
    }

    .header-menu ul li,
    .footer-info1 ul li,
    .footer-info2 ul li {
        margin: 5px 0;
    }

    .popular-project .project {
        flex-direction: column;
    }

    .popular-project .project figure {
        margin-bottom: 20px;
    }

    aside {
        width: 100%;
        text-align: center;
    }

    main .wrapper {
        text-align: right;
        display: flex;
        flex-direction: column;
    }

    .category-project nav ul {
        padding-left: 0;
        text-align: center;
    }

    .banner {
        height: 200px;
    }

    .banner .text p {
        font-size: 14px;
    }

    .maininfo p {
        font-size: 14px;
    }

    .popular-project .project figure h2 {
        font-size: 16px;
    }

    main table {
        overflow: scroll;
    }

    .popular-project .flex {
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 768px) {
    .wrapper .popular-project .flex {
        flex-wrap: wrap;
        flex-direction: unset;

    }

    .house {
        width: 45%;

    }
}

@media screen and (min-width: 425px) {
    .house {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-direction: column;
    }

}

@media (min-width: 1024px) {
    .house {
        width: fit-content;
        
    }
    .wrapper .popular-project .flex{
        flex-wrap: nowrap;
    }
    main {
        text-align: left;
    }

    .popular-project .flex {
        flex-direction: row;
    }
}