html {
    font-size: 1px;
}

body {
    font-size: 14rem;
    margin: 0;
}

.flex {
    display: flex;
}

sup {
    font-size: 0.6em;
}

.header-menu {
    padding: 20rem 0;
    background-color: #1f1f56;
}

.wrapper {
    max-width: 960rem;
    margin: auto;
}

.header-menu .wrapper {

    justify-content: space-between;
}

.buttom a {
    display: inline-block;
    border-radius: 25rem;
    background-color: #fff;
    text-decoration: none;
    padding: 15rem 30rem;
    font-size: 16rem;
    line-height: 24rem;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    border: 2px solid #fd8300;
    transition: 0.3s;
}

.buttom a:hover {
    color: #fff;
    background-color: #fd8300;
}

.header-menu .menu a:hover {
    color: #fd8300;
}

.maininfo a:hover {
    text-decoration: none;
}

.social {
    align-items: center;

}

.social a {
    margin-right: 24rem;
}

.company .wrapper .contacts {
    text-decoration: none;
}

.company .wrapper .email a {
    text-decoration: none;
}

.company .wrapper .email a:hover {
    color: #fd8300;
}

.menu ul {
    list-style: none;

}

.menu li {
    margin-right: 26rem;
}

.menu li a {
    line-height: 24rem;
    color: #b1b1d2;
    font-size: 14rem;
    font-family: "Arial";
    text-decoration: none;
    letter-spacing: 2rem;

}

.contacts a {
    line-height: 24rem;
    font-size: 18rem;
    text-decoration: none;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    transition: 0.3s;
}


.email a {
    line-height: 24rem;
    font-size: 16rem;
    font-family: "Arial";
    text-decoration: underline;
    color: #25252c;
}


.company .wrapper .contacts a:hover {
    color: #fd8300;

}

.company .wrapper .flex {
    flex-direction: column;
}

.company {
    padding: 31px 0;
}

.company .wrapper {
    justify-content: space-between;
}

.banner {
    padding: 50rem 0;
    margin-bottom: 36rem;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/house\ main.jpg) no-repeat;
    background-size: cover;
}

.banner .text .text1 {
    letter-spacing: 2rem;
    line-height: 24rem;
    font-size: 30rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.banner .text .text2 {
    text-align: center;
    line-height: 24rem;
    font-size: 14rem;
    color: #fff;
    font-family: "Arial";
}

.banner .text .text3 {
    line-height: 24rem;
    color: #fd8300;
    font-size: 24rem;
    font-weight: bold;
    font-family: "Arial";

}

.banner .text .text3 b {
    font-size: 40rem;
    line-height: 24rem;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";

}

h1 {
    color: #24242b;
    font-size: 30rem;
    font-weight: 700;
    font-family: "Roboto Slab";
}

main .wrapper>div {
    width: 75%;
}

main {
    margin-bottom: 46rem;
}

main .wrapper {
    display: flex;
    justify-content: space-between;
}

.maininfo {
    padding-right: 20rem;

}

.maininfo p {
    font-size: 14rem;
    color: #666;
    line-height: 24rem;
    font-family: "Arial";
}

.maininfo a {
    display: inline-block;
    margin-bottom: 33rem;
    font-size: 14rem;
    line-height: 24rem;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

hr {
    border: none;
    border-bottom: 1px solid #e4e4ec;
}




.house a {
    text-decoration: none;
}

.house a:hover {
    text-decoration: underline;
}

.popular-project>h2 {
    color: #24242b;
    font-size: 24rem;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.popular-project .flex {
    gap: 3%;
}

.popular-project .house p {
    margin: 0;
    margin-bottom: 5rem;
    color: #9999a6;
    font-size: 13rem;
    font-family: "Arial";
}


.popular-project .house a h2 {
    color: #1f1f56;
    font-size: 14rem;
    font-weight: bold;
    font-family: "Arial";
    line-height: 24rem;
}

aside {
    display: block;
    width: 25%;
}

.wrapper .category-project ul {
    list-style: none;

}

.category-project li ul {
    display: none;
}

.category-project li:hover ul {
    display: block;
}

.category-project ul {
    list-style: none;
}

.category-project ul {
    list-style: none;

}

.category-project {
    width: 100%;
}

.category-project li a:hover {
    color: #fff;
    background-color: #fd8300;
}

.category-project p {
    background-color: #1f1f56;
    padding: 15rem;
    margin: 0;
    font-size: 16rem;
    line-height: 24rem;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.category-project li a {
    box-shadow: inset 0px -1px 0px #cecedd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14rem;
    line-height: 24rem;
    color: #25252c;
    font-family: "Arial";
    text-decoration: none;

    background-color: #e4e4ec;
    padding: 15rem;
    transition: 0.3s;
}

.category-project ul li {

    background-color: #e4e4ec;
}

.category-project {
    border-radius: 3rem;
    overflow: hidden;
}

.category-project a:hover {
    font-size: 14rem;
    line-height: 24rem;
    color: #fff;
    font-family: "Arial";
}



ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

.footer .wrapper {
    justify-content: space-between;
}

.footer {
    padding: 43px 0 0;
    background-color: #ededf5;

}

.footer .wrapper .info a {
    font-size: 14rem;
    line-height: 26rem;
    text-decoration: none;
    color: #666;
    font-family: "Arial";
}

.footer .wrapper .info a:hover {
    text-decoration: dashed;
}


.footer .wrapper .info a:hover {
    color: #fd8300;
    transition: 0.3s;
}

.footer .wrapper .contacts {
    flex-direction: column;
    transition: 0.3s;
}

.footer .wrapper .contacts a:hover {
    color: #fd8300;
}

.footer .footer-bottom {
    text-align: center;
    padding: 15rem;
    background-color: #dcdce6;
}


.footer .footer-bottom p {
    font-size: 13rem;
    line-height: 18rem;
    color: #9999a6;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}

.footer .email a:hover {
    color: #fd8300;
}

.footer .wrapper .email {
    flex-direction: column;
}

.footer .wrapper .email1 {
    text-decoration: none;
}

.footer .wrapper {
    padding-bottom: 29rem;
}
figure {
 
 margin: 0;
}